.first-section {
  background-color: #252420;
}
.home {
  width: 100%;
  height: 488px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 45px;
}

.left-section {
  width: 387px;
  height: 328px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
  width: 80px;
  height: 3px;
  background-color: var(--main_color);
}
.left-section h1 {
  font-size: 40px;
}
.left-section p {
  font-size: 16px;
  line-height: 24px;
}
.second-img-home {
  display: none;
}
/* part 2 section */
.second-section {
  position: relative;
  top: 230px;
}
.content-plus {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
}
.parent-plus {
  width: 340px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-plus {
  display: flex;
}
.heading-part2 {
  font-size: 72px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 100px;
}
/* part 3 section */
.thrid-section {
  position: relative;
  top: 600px;
  background-color: #252420;
  width: 1240px;
  height: 419px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-bottom {
  color: white;
  width: 440px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-bottom {
  position: relative;
  bottom: 75px;
}
.right-bottom img {
  border-radius: 12px;
}
.left-bottom h1 {
  font-size: 40px;
}
.left-bottom p {
  font-size: 16px;
}

.bottom-paragraph span {
  color: var(--main_color);
}
/* foooterrrrrrrrrrrrrrrrrrrr */
.footer {
  position: relative;
  top: 800px;
  background-color: #f8f8f8;
  width: 100%;
  height: 507px;
}
.first-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.icons-social {
  display: flex;
  gap: 16px;
}
hr {
  position: relative;
  top: 40px;
}
.list-order {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 100px;
}
.list-order ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-order ul li:hover {
  color: var(--main_color);
  border-bottom: 2px solid var(--main_color);
  cursor: pointer;
 
}
@media (max-width: 480px) {
  .first-section {
    background-color: #252420;
    height: 750px;
    border-radius: 0 0 12px 12px;
  }
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .first-img-home {
    display: none;
  }
  .second-img-home {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .line {
    width: 100%;
    height: 3px;
  }
  .left-section h1 {
    font-size: 29px;
    width: 100%;
    height: auto;
  }
  .left-section p {
    font-size: 16px;
    line-height: 20px;
  }
  .button-link button {
    width: 100%;
    font-size: 16px;
  }
  /* part 2 section */
  .second-section {
    position: relative;
    top: 80px;
  }
  .content-plus {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
  }
  .parent-plus {
    width: 340px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .content-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .icon-plus {
    display: flex;
    justify-content: center;
  }
  .heading-part2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  /* part 3 section */
  .thrid-section {
    position: relative;
    top: 150px;
    background-color: #252420;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .left-bottom {
    color: white;
    width: 440px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: auto;
  }
  .right-bottom {
    position: relative;
    bottom: 75px;
  }
  .right-bottom img {
    border-radius: 14px;
    padding-top: 100px;
    width: 100%;
    height: auto;
  }
  .left-bottom h1 {
    font-size: 25px;
  }
  .left-bottom p {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .bottom-paragraph span {
    color: var(--main_color);
  }
  /* foooterrrrrrrrrrrrrrrrrrrr */
  .footer {
    position: relative;
    top: 150px;
    background-color: #f8f8f8;
    width: 100%;
    height: 885px;
  }
  .first-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }
  .icons-social {
    display: flex;
    gap: 16px;
  }
  hr {
    position: relative;
    top: 40px;
  }
  .list-order {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 100px;
    gap: 20px;
    flex-direction: column;
align-items: center;
text-align: center;
  }
  .list-order div ul {
    gap: 50px;
  }
  .list-order ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .list-order ul li:hover {
    color: var(--main_color);
    border-bottom: 2px solid var(--main_color);
    cursor: pointer;
  }
}
@media (min-width: 481px) and (max-width: 1199px) {
  .first-section {
    background-color: #252420;
  }
  .home {
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
  }

  .left-section {
    width: 387px;
    height: 328px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .line {
    width: 80px;
    height: 3px;
    background-color: var(--main_color);
  }
  .left-section h1 {
    font-size: 40px;
  }
  .left-section p {
    font-size: 16px;
    line-height: 24px;
  }
  .second-img-home {
    display: block;
    width: 100%;
    height: auto;
  }

  .first-img-home {
    display: none;
  }

  /* part 2 section */
  .second-section {
    position: relative;
    top: 230px;
  }
  .content-plus {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
  }
  .parent-plus {
    width: 300px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
 .parent-plus h1{
  font-size: 20px;
 }
 .icon-plus p{
  font-size: 14px;
 }
  .content-plus {
    display: flex;
    width: 100%;
  }
  .heading-part2 {
    font-size: 72px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  /* part 3 section */
  .thrid-section {
    position: relative;
    top: 600px;
    background-color: #252420;
    width: 100%;
    height: 419px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .left-bottom {
    color: white;
    width: 440px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .right-bottom {
    position: relative;
    bottom: 75px;
  }
  .right-bottom img {
    border-radius: 12px;
    width: 100%;
    height: auto;
  }
  .left-bottom h1 {
    font-size: 30px;
  }
  .left-bottom p {
    font-size: 14px;
  padding: 10px 0;
  }

  .bottom-paragraph span {
    color: var(--main_color);
  }
  /* foooterrrrrrrrrrrrrrrrrrrr */
  .footer {
    position: relative;
    top: 800px;
    background-color: #f8f8f8;
    width: 100%;
    height: 507px;
  }
  .first-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }
  .icons-social {
    display: flex;
    gap: 16px;
  }
  hr {
    position: relative;
    top: 40px;
  }
  .list-order {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 100px;
  }
  .list-order ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .list-order ul li:hover {
    color: var(--main_color);
    border-bottom: 2px solid var(--main_color);
    cursor: pointer;
  }
}
